<!DOCTYPE html>
<html ng-app="helloPage">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body ng-controller="TabController as tab">


<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>  
      </button>
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a data-toggle="tab" href="#home">Home</a></li>        
        <li ><a data-toggle="tab" href="#photo">photo</a></li> 
        <li ><a data-toggle="tab" href="#photo">photo</a></li> 
      </ul>
    </div>
  </div>
</nav>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">         
          <div class="modal-body">                
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

     </div>  

   <div class="container">
     
<div class="tab-content">
      <div id="home" class="tab-pane fade in active" ng-controller="pageController as page">

 <div class="page-header">
      <h1> Интересные факты</h1>
      <h2> И много другого</h2>
    </div>

      <div class="jumbotron" ng-repeat="program in page.programs">
        <h2>{{program.name}}</h2> 
        <h3>{{program.text}}</h3>
       <blockquote>{{program.tags}}</blockquote>
      </div>
               
        </div>   
       
        <ul id="photo" class="tab-pane fade row" ng-controller="GalleryController as gallery">
          
           <div ng-repeat="imageGalary in gallery.imageGalary">
            <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
            <img class="img-responsive" ng-src="{{imageGalary.image}}" />
            </li>
        </ul>         
                

   
 
</div> 


        
      </div>
    </div>
    </div>
  </body>
</html>
