<div id="technic" ng-show='tab.isSet(4)' class='highlight'  ng-controller="pageController as page">  
<h2>Программы тренингов направлены на
формирование у участников навыков ведения открытого конструктивного диалога на всех уровнях организации для эффективного решения бизнес-задач</h2>

   <div class="col-lg-6">
           <div ng-repeat="businesTasks in page.businesTasks" class='my-animation'>             
                         
             <div class='comments'> 
             {{businesTasks}}
             </div>            
           
           </div>
 </div>      
     
  <h2 class="col-lg-12">Техника диалога взаимодействует
c индивидуальными и коллективными</h2>   
   <div class="col-lg-4">  
           <div ng-repeat="businesParts in page.businesParts" class='comments'>
             
             {{businesParts}}
                      
           
           </div>
</div>

  </div>